@font-face {
    font-family: 'Pokemon Hollow';
    src: url('fonts/PokemonHollowNormal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    margin: 0;
}

body {
    background-image: url(https://thumbs.gfycat.com/HardAgitatedCricket-size_restricted.gif);
    /* background-image: url(https://thumbs.gfycat.com/PortlySandyHeifer-size_restricted.gif); */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #01081A;
}

.container {
    display: grid;
    grid-template: 20% 74% / auto;
    grid-gap: 5%;
    grid-template-areas:
    "title"
    "stage";
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.9);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
}

#stage {
    grid-area: stage;
    width: 98%;
}

#stage div {
    position: absolute;
}

#title {
    grid-area: title;
    font-size: 10em;
    text-align: center;
    /* font-family: 'Black Ops One', cursive; */
    font-family: 'Pokemon Hollow';
    color: #486687;
    letter-spacing: .1em;
    margin: 0;

text-shadow: 
	0 .1em 0 #243344, 
	0 .12em 0 #243344,
	0 .13em 0 #243344,
	0 .14em 0 #243344,
	0 .15em 0 #243344,
	0 .16em 0 #243344,
	0 .17em 0 #243344,
	0 .18em 0 #243344,

	1px .2em .2em #0e141b;
}

.pokemon{
    position: absolute;
    grid-area: pokemon;
}

#blastoise {
    grid-area: blastoise;
    z-index: 6;
    width: 25%;
    right: 23%;
    top: 35%;
}

#garchomp {
    z-index: 2;
    right: 15%;
    top: 70%;
    width: 33%;
}

#kyogre {
    grid-area: kyogre;
    z-index: 3;
    transform: scaleX(-1);
    width: 50%;
    top: -10%;
    left: 10%;
}

#gyarados {
    grid-area: gyarados;
    z-index: 1;
    width: 48%;
    right: 8%;
    top: 10%;
}

#vaporeon {
    z-index: 5;
    width: 25%;
    top: 56%;
    left: 33%;
}

#feraligatr {
    z-index: 4;
    width: 27%;
    top: 58%;
    left: 12%;
}

#trainer{
    position: absolute;
    z-index: 7;
    width: 6%;
   left: 47%;
   top: 62%;
}



  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /* background-color: rgb(0,0,0); Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  #modal-content {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-family: 'Press Start 2P', sans-serif;
    font-size: .5em;
    margin: 5% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 38%;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #stat-grid {
      display: grid;
      grid-template: auto auto auto auto auto / auto auto;
      grid-template-areas:
      "name idNum"
      "sprite sprite"
      "height weight"
      "atk def"
      "hp abilities";
      justify-items: center;
      grid-column-gap: 20px;
      grid-row-gap: 5px;
      line-height: 1.8em;
  }

  #name {
      grid-area: name;
      text-transform: capitalize;
  }

  #idNum {
      grid-area: idNum;
  }

  #height {
      grid-area: height;
  }

  #weight {
      grid-area: weight;
  }

  #sprite {
      grid-area: sprite;
  }

  .pokemon {
      position: absolute;
      grid-area: pokemon;
  }
