@font-face {
    font-family: 'Pokemon Hollow';
    src: url('fonts/PokemonHollowNormal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    margin: 0;
}

body {
    background-image: url(https://thumbs.gfycat.com/HardAgitatedCricket-size_restricted.gif);
    /* background-image: url(https://thumbs.gfycat.com/PortlySandyHeifer-size_restricted.gif); */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #01081A;
}

.container {
    display: grid;
    grid-template: 20% 74% / auto;
    grid-gap: 5%;
    grid-template-areas:
    "title"
    "stage";
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    z-index: 0;
}

#stage {
    grid-area: stage;
    width: 98%;
}

#stage div {
    position: absolute;
}

#title {
    grid-area: title;
    font-size: 10em;
    text-align: center;
    /* font-family: 'Black Ops One', cursive; */
    font-family: 'Pokemon Hollow';
    color: #486687;
    letter-spacing: .1em;
    margin: 0;

text-shadow: 
	0 .1em 0 #243344, 
	0 .12em 0 #243344,
	0 .13em 0 #243344,
	0 .14em 0 #243344,
	0 .15em 0 #243344,
	0 .16em 0 #243344,
	0 .17em 0 #243344,
	0 .18em 0 #243344,

	1px .2em .2em #0e141b;
}

.pokemon{
    position: absolute;
}

#blastoise {
    grid-area: blastoise;
    z-index: 6;
    width: 25%;
    right: 23%;
    top: 35%;
}

#garchomp {
    z-index: 1;
    right: 17%;
    bottom: 1%;
    width: 30%;
}

#kyogre {
    grid-area: kyogre;
    z-index: 3;
    transform: scaleX(-1);
    width: 50%;
    bottom: 35%;
    left: 10%;
}

#gyarados {
    grid-area: gyarados;
    z-index: 2;
    width: 48%;
    right: 8%;
    bottom: 10%;
}

#vaporeon {
    z-index: 5;
    width: 25%;
    bottom: 10%;
    left: 32%;
}

#feralgatr {
    z-index: 4;
    width: 27%;
    bottom: 1%;
    left: 12%;
}

#trainer{
    z-index: 7;
    width: 6%;
   left: 47%;
   bottom: 1%;
}

.show {
    width: 50% !important;
    left: 0;
    top: 30% !important;
  }
  
  .hide {
    display: none;
  }  
